@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Fredoka+One&display=swap');

body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: var(--night-forest);
  color: var(--pale-sage);
}   
* {
  border: 3px solid teal;
}                              
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: space-between;
    
}
  .a {
    display: flex;
    min-height:10vh;
    flex-direction: column;
    justify-content: space-between;
      
  }   

  .b {
    display: flex;
    min-height: 20vh;
    flex-direction: column;
    justify-content: space-between;
      
  }  
  .c {
    display: flex;
    min-height: 10vh;
    flex-direction: row;
    justify-content: space-between;
      
  }  
  .d {
    display: flex;
    min-height: 10vh;
    flex-direction: row;
    justify-content: space-between;
      
  }  
  .e {
    display: flex;
    min-height: 10vh;
    flex-direction: row;
    justify-content: space-between;
      
  }  
  .f {
    display: flex;
    min-height: 20vh;
    flex-direction: column;
    justify-content: space-between;
      
  } 

@media (min-width: 100px) {
  .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .a {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.b {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.c {
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.d {
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.e {
  width: 30%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.f {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

}








